// Mixins in here
.custom-btn(@height, @width, @brad){
    display: flex;
    justify-items: center;
    align-items: center;
    height: @height;
    width: @width;
    margin: 0 auto;
    border-radius: @brad;
    background-color: @eastern-blue;
    color: @white;
    font-size: 15px;
}